/* MacBook Pro */

position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;


/* 404 Page */

position: absolute;
width: 1457px;
height: 900px;
left: -17px;
top: 0px;

background: #0C091E;


/* Error */

position: absolute;
width: 764px;
height: 132px;
left: 392px;
top: 414px;



/* UCube 교육기는 현재 개선 작업 중에 있으며, 11월 말 이후에 서비스가 제공될 예정입니다. */

position: absolute;
width: 707px;
height: 114px;
left: 29px;
top: 0px;

font-family: 'Ownglyph ryuttung';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 57px;
text-align: center;

color: #D7D5E4;



/* 404 animation */

position: absolute;
width: 570px;
height: 229px;
left: 586px;
top: 124px;



/* https://lottiefiles.com/animations/404-planet-animation-Wtc9IOCKvY */

position: absolute;
width: 570px;
height: 229px;
left: -134px;
top: 33px;

background: url(.png);


/* 지금은 공사중 */

position: absolute;
width: 319.43px;
height: 51px;
left: 525px;
top: 598px;

box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);


/* 지금은 공사중 */

position: absolute;
width: 275px;
height: 51px;
left: 44px;
top: 0px;

font-family: 'AndongKaturi';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 51px;
text-align: right;

color: #FFFFFF;



/* Stars */

position: absolute;
width: 1361px;
height: 744px;
left: 43px;
top: 91px;



/* stars */

position: absolute;
width: 1361px;
height: 744px;
left: 0px;
top: 0px;



/* Star */

position: absolute;
left: 84.5%;
right: 15.21%;
top: 3.36%;
bottom: 96.1%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1150px;
top: 25px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1150px;
top: 25px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 17.71%;
right: 82%;
top: 7.66%;
bottom: 91.8%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 241px;
top: 57px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 241px;
top: 57px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 2.13%;
right: 97.58%;
top: 4.17%;
bottom: 95.3%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 29px;
top: 31px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 29px;
top: 31px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 71.49%;
right: 28.21%;
top: 0%;
bottom: 99.46%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 973px;
top: 0px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 973px;
top: 0px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 61.72%;
right: 37.99%;
top: 4.97%;
bottom: 94.49%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 840px;
top: 37px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 840px;
top: 37px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 98.97%;
right: 0.73%;
top: 4.97%;
bottom: 94.49%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1347px;
top: 37px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1347px;
top: 37px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 46.58%;
right: 53.12%;
top: 0.54%;
bottom: 98.92%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 634px;
top: 4px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 634px;
top: 4px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 67.6%;
right: 32.11%;
top: 24.87%;
bottom: 74.6%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 920px;
top: 185px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 920px;
top: 185px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 79.13%;
right: 20.57%;
top: 51.08%;
bottom: 48.39%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1077px;
top: 380px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1077px;
top: 380px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 92.29%;
right: 7.42%;
top: 95.7%;
bottom: 3.76%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1256px;
top: 712px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1256px;
top: 712px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 71.64%;
right: 28.07%;
top: 99.46%;
bottom: 0%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 975px;
top: 740px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 975px;
top: 740px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 93.24%;
right: 6.47%;
top: 56.99%;
bottom: 42.47%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1269px;
top: 424px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1269px;
top: 424px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 99.27%;
right: 0.44%;
top: 85.48%;
bottom: 13.98%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1351px;
top: 636px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1351px;
top: 636px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 99.71%;
right: 0%;
top: 38.98%;
bottom: 60.48%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1357px;
top: 290px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1357px;
top: 290px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 43.42%;
right: 56.28%;
top: 58.87%;
bottom: 40.59%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 591px;
top: 438px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 591px;
top: 438px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 55.99%;
right: 43.72%;
top: 56.99%;
bottom: 42.47%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 762px;
top: 424px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 762px;
top: 424px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 66.13%;
right: 33.58%;
top: 75%;
bottom: 24.46%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 900px;
top: 558px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 900px;
top: 558px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 99.71%;
right: 0%;
top: 64.38%;
bottom: 35.08%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1357px;
top: 479px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1357px;
top: 479px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 83.39%;
right: 16.31%;
top: 59.95%;
bottom: 39.52%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 1135px;
top: 446px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 1135px;
top: 446px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 22.92%;
right: 76.78%;
top: 0.27%;
bottom: 99.19%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 312px;
top: 2px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 312px;
top: 2px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 0%;
right: 99.71%;
top: 23.92%;
bottom: 75.54%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 0px;
top: 178px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 0px;
top: 178px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 62.01%;
right: 37.69%;
top: 36.96%;
bottom: 62.5%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 844px;
top: 275px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 844px;
top: 275px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 34.17%;
right: 65.54%;
top: 24.06%;
bottom: 75.4%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 465px;
top: 179px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 465px;
top: 179px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 39.02%;
right: 60.69%;
top: 37.77%;
bottom: 61.69%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 531px;
top: 281px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 531px;
top: 281px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 55.18%;
right: 44.53%;
top: 94.35%;
bottom: 5.11%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 751px;
top: 702px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 751px;
top: 702px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 35.27%;
right: 64.44%;
top: 66.4%;
bottom: 33.06%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 480px;
top: 494px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 480px;
top: 494px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 38.28%;
right: 61.43%;
top: 87.9%;
bottom: 11.56%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 521px;
top: 654px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 521px;
top: 654px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 18.07%;
right: 81.63%;
top: 95.16%;
bottom: 4.3%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 246px;
top: 708px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 246px;
top: 708px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 0%;
right: 99.71%;
top: 99.19%;
bottom: 0.27%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 0px;
top: 738px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 0px;
top: 738px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 20.72%;
right: 78.99%;
top: 38.44%;
bottom: 61.02%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 282px;
top: 286px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 282px;
top: 286px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 4.26%;
right: 95.44%;
top: 66.26%;
bottom: 33.2%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 58px;
top: 493px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 58px;
top: 493px;

background: #FFFFFF;


/* Star */

position: absolute;
left: 8.23%;
right: 91.48%;
top: 83.2%;
bottom: 16.26%;



/* Ellipse 42 */

position: absolute;
width: 4px;
height: 4px;
left: 112px;
top: 619px;

background: #FFFFFF;
filter: blur(2.5px);


/* Ellipse 41 */

position: absolute;
width: 4px;
height: 4px;
left: 112px;
top: 619px;

background: #FFFFFF;


/* Other side */

position: absolute;
width: 463.47px;
height: 643.64px;
left: 967px;
top: 112.13px;



/* Fog1 */

position: absolute;
width: 463.47px;
height: 643.64px;
left: 0px;
top: 0px;

background: rgba(229, 229, 229, 0.06);


/* earth */

position: absolute;
width: 153px;
height: 152px;
left: 107.98px;
top: 461.87px;



/* Vector */

position: absolute;
width: 153px;
height: 152px;
left: 0px;
top: 0px;

background: radial-gradient(43.14% 43.17% at 50% 50%, #90DD6F 0%, rgba(184, 255, 169, 0) 100%);


/* Group */

position: absolute;
left: 13.8%;
right: 13.94%;
top: 13.94%;
bottom: 13.8%;



/* Vector */

position: absolute;
width: 110.56px;
height: 109.84px;
left: 21.11px;
top: 21.19px;

background: radial-gradient(60.63% 60.67% at 52.5% 30.44%, #00B3DC 0%, #056DB0 100%);


/* Group */

position: absolute;
left: 20.35%;
right: 18.41%;
top: 35.22%;
bottom: 13.83%;

opacity: 0.75;


/* Vector */

position: absolute;
left: 62.78%;
right: 33.29%;
top: 55.87%;
bottom: 41.04%;

background: #056DB1;


/* Vector */

position: absolute;
left: 76.88%;
right: 18.41%;
top: 39.98%;
bottom: 57.08%;

background: #056DB1;


/* Vector */

position: absolute;
left: 41.94%;
right: 48.66%;
top: 72.62%;
bottom: 21.73%;

background: #056DB1;


/* Vector */

position: absolute;
left: 51.39%;
right: 39.79%;
top: 83.05%;
bottom: 13.83%;

background: #056DB1;


/* Vector */

position: absolute;
left: 23.88%;
right: 68.2%;
top: 62.89%;
bottom: 25.73%;

background: #056DB1;


/* Vector */

position: absolute;
left: 20.35%;
right: 77.2%;
top: 63.73%;
bottom: 34.3%;

background: #056DB1;


/* Vector */

position: absolute;
left: 37.08%;
right: 58.44%;
top: 55.05%;
bottom: 41.84%;

background: #056DB1;


/* Vector */

position: absolute;
left: 53.4%;
right: 43.75%;
top: 35.22%;
bottom: 62.06%;

background: #056DB1;


/* Group */

position: absolute;
left: 13.85%;
right: 13.96%;
top: 13.94%;
bottom: 17.76%;



/* Vector */

position: absolute;
left: 13.85%;
right: 52.84%;
top: 23.95%;
bottom: 41.41%;

background: linear-gradient(175.61deg, #F2F236 -76.64%, rgba(242, 242, 54, 0) 203.73%);


/* Vector */

position: absolute;
left: 56.38%;
right: 17.43%;
top: 14.55%;
bottom: 59.78%;

background: linear-gradient(175.34deg, #F2F236 -81.38%, rgba(242, 242, 54, 0) 295.37%);


/* Vector */

position: absolute;
left: 65.6%;
right: 13.95%;
top: 45.06%;
bottom: 17.76%;

background: linear-gradient(177.49deg, #F2F236 -138.7%, rgba(242, 242, 54, 0) 130.75%);


/* Vector */

position: absolute;
left: 35.57%;
right: 34.88%;
top: 58.52%;
bottom: 27.83%;

background: linear-gradient(170.2deg, #F2F236 -405.24%, rgba(242, 242, 54, 0) 247.81%);


/* Vector */

position: absolute;
left: 58.08%;
right: 31.79%;
top: 44.71%;
bottom: 46.58%;

background: linear-gradient(174.69deg, #F2F236 -555.43%, rgba(242, 242, 54, 0) 543.06%);


/* Vector */

position: absolute;
left: 40.78%;
right: 47.13%;
top: 25.93%;
bottom: 64.75%;

background: #056DB1;
opacity: 0.5;


/* Vector */

position: absolute;
left: 29.01%;
right: 49.1%;
top: 13.94%;
bottom: 77.7%;

background: linear-gradient(168.19deg, #F2F236 -195.93%, rgba(242, 242, 54, 0) 839.23%);


/* Vector */

position: absolute;
width: 107.83px;
height: 73.79px;
left: 21.19px;
top: 57.24px;

background: linear-gradient(9.05deg, #00ACD8 -12.94%, #0983BD 75.9%);
opacity: 0.45;


/* Vector */

position: absolute;
width: 103.62px;
height: 60.79px;
left: 28.03px;
top: 70.24px;

background: linear-gradient(11.24deg, #056EB1 -10.48%, rgba(0, 169, 215, 0.3) 98.71%);
opacity: 0.45;


/* Vector */

position: absolute;
width: 89.31px;
height: 45.92px;
left: 41.6px;
top: 21.2px;

background: linear-gradient(224.44deg, #E2FFB5 -25.29%, rgba(255, 255, 179, 0) 68.93%);


/* image-removebg-preview (2) 1 */

position: absolute;
width: 346px;
height: 346px;
left: 234.91px;
top: -203.13px;

background: url(image-removebg-preview (2).png);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
transform: rotate(43.44deg);


/* One side */

position: absolute;
width: 832px;
height: 832px;
left: -290px;
top: -210px;



/* moon */

position: absolute;
width: 832px;
height: 832px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
width: 832px;
height: 832px;
left: 0px;
top: 0px;

background: radial-gradient(46.27% 46.3% at 50% 50%, #F8F8F8 0%, rgba(255, 255, 255, 0) 100%);


/* Group */

position: absolute;
left: 11.38%;
right: 11.38%;
top: 11.25%;
bottom: 11.44%;



/* Vector */

position: absolute;
width: 642.7px;
height: 643.25px;
left: 94.66px;
top: 93.61px;

background: radial-gradient(76.35% 76.35% at 47.79% 23.53%, #E8E8E8 0%, #DFDFDF 100%);


/* Group */

position: absolute;
left: 11.47%;
right: 16.23%;
top: 15.68%;
bottom: 11.44%;



/* Vector */

position: absolute;
left: 11.47%;
right: 82.74%;
top: 52.66%;
bottom: 32.85%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 26.24%;
right: 54.2%;
top: 54.29%;
bottom: 35.79%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 20.45%;
right: 65.36%;
top: 31.9%;
bottom: 57.14%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 68.14%;
right: 19.29%;
top: 57.02%;
bottom: 31.52%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 45.4%;
right: 40.33%;
top: 35.01%;
bottom: 52.7%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 29.51%;
right: 57.75%;
top: 70.86%;
bottom: 19.85%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 49.99%;
right: 37.62%;
top: 72.62%;
bottom: 22.55%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 64.95%;
right: 22.92%;
top: 41.49%;
bottom: 51%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 63.3%;
right: 27.72%;
top: 23.5%;
bottom: 71.72%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 36.9%;
right: 58.82%;
top: 16.16%;
bottom: 75.9%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 79.72%;
right: 16.23%;
top: 31.4%;
bottom: 61.61%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 67.1%;
right: 21.65%;
top: 74.89%;
bottom: 15.96%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 45.22%;
right: 39.81%;
top: 83.99%;
bottom: 11.44%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 52.22%;
right: 44.73%;
top: 15.68%;
bottom: 82.15%;

background: #BCBCBC;


/* Group */

position: absolute;
left: 15.97%;
right: 11.38%;
top: 26.2%;
bottom: 14.78%;



/* Vector */

position: absolute;
left: 41.79%;
right: 54.54%;
top: 67.45%;
bottom: 28.49%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 22.74%;
right: 74.25%;
top: 66.48%;
bottom: 27.81%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 18.4%;
right: 77.72%;
top: 45.53%;
bottom: 50.55%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 85.88%;
right: 11.38%;
top: 48.19%;
bottom: 43.47%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 63.95%;
right: 33.33%;
top: 52.39%;
bottom: 45.58%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 15.97%;
right: 81.95%;
top: 42.02%;
bottom: 56.43%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 47.76%;
right: 50.48%;
top: 26.24%;
bottom: 72.58%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 51.81%;
right: 46.19%;
top: 26.2%;
bottom: 70.79%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 59.4%;
right: 38.6%;
top: 80.09%;
bottom: 18.42%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 39.22%;
right: 59.21%;
top: 83.99%;
bottom: 14.78%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 40.84%;
right: 55.8%;
top: 50.57%;
bottom: 47.58%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 78.24%;
right: 19.73%;
top: 44.31%;
bottom: 52.58%;

background: #9B9B9B;


/* Group */

position: absolute;
left: 11.47%;
right: 17.68%;
top: 15.68%;
bottom: 11.44%;



/* Vector */

position: absolute;
left: 53.69%;
right: 39.54%;
top: 56.62%;
bottom: 36.28%;

background: #BCBCBC;


/* Vector */

position: absolute;
left: 20.45%;
right: 65.36%;
top: 31.91%;
bottom: 57.81%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 26.24%;
right: 54.2%;
top: 54.28%;
bottom: 38.54%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 45.4%;
right: 40.81%;
top: 35.01%;
bottom: 54.61%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 53.7%;
right: 39.54%;
top: 56.62%;
bottom: 36.62%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 65.33%;
right: 22.92%;
top: 41.49%;
bottom: 52.3%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 63.31%;
right: 27.72%;
top: 24.16%;
bottom: 71.72%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 36.9%;
right: 59.91%;
top: 16.16%;
bottom: 75.9%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 52.22%;
right: 44.73%;
top: 15.68%;
bottom: 82.29%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 29.86%;
right: 57.75%;
top: 70.86%;
bottom: 20.48%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 49.99%;
right: 37.62%;
top: 72.61%;
bottom: 24.98%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 45.22%;
right: 39.81%;
top: 86.02%;
bottom: 11.44%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 67.16%;
right: 21.65%;
top: 75.22%;
bottom: 15.96%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 68.14%;
right: 20.07%;
top: 57.02%;
bottom: 32.81%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 79.72%;
right: 17.68%;
top: 31.52%;
bottom: 61.66%;

background: #9B9B9B;


/* Vector */

position: absolute;
left: 11.47%;
right: 82.74%;
top: 52.66%;
bottom: 32.85%;

background: #9B9B9B;


/* Vector */

position: absolute;
width: 515.85px;
height: 554.95px;
left: 94.66px;
top: 181.91px;

background: linear-gradient(359.79deg, #000000 -25.59%, rgba(0, 0, 0, 0.2) 117.51%);
opacity: 0.45;


/* Vector */

position: absolute;
width: 449.78px;
height: 405.12px;
left: 287.58px;
top: 93.61px;

background: linear-gradient(225.08deg, #B7B7B7 3.94%, rgba(174, 174, 174, 0.2) 30.96%);
